---
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveBitFields: AcrossComments
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 120
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^"
    Priority: 1
    CaseSensitive: true
  - Regex: ^<
    Priority: 2
    CaseSensitive: true
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SpaceAfterCStyleCast: true
TabWidth: 2
